<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.fyp">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label=""
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="adjustResize">
        <activity android:name=".Activities.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Math.Challenge.CountingTopic" />
        <activity android:name=".Math.Challenge.CountingTopic2" />
        <activity android:name=".Math.Challenge.Summation1" />
        <activity android:name=".Activities.MathTopicActivity" />
        <activity android:name=".Activities.TestOverActivity" />
        <activity android:name=".Activities.SchedulerActivity" />

        <receiver
            android:name=".Schedule.AlarmReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".Math.Challenge.Subtraction1" />
        <activity android:name=".Math.Challenge.Geometry1" />
        <activity android:name=".Math.Study.StudyCounting" />
        <activity android:name=".Math.Study.StudyGeometry" />
        <activity android:name=".Math.Study.StudySummation" />
        <activity android:name=".Math.Study.StudySubtraction"></activity>
    </application>

</manifest>